.title {
  font-size: var(--text-display);
  font-weight: var(--bold);
  margin: 0;
  padding: var(--space-2xl) var(--space-2xl);
}

.emptyStateContainer {
  text-align: center;
  max-width: 48ch;
  margin-left: auto;
  margin-right: auto;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media (max-width: 1024px) {
    padding: 0 var(--vp-md);
  }
}

.emptyStateHeading {
  color: var(--text-color);
  font-size: var(--text-display);
  // font-weight: var(--bold);
  margin-bottom: var(--space-lg);
}

.emptyStateLink {
  display: inline-block;
  color: var(--primary);
  font-weight: var(--bold);
  margin-top: var(--space-xl);
  font-size: var(--text-xl);
}

.cartGrid {
  position: relative;
  width: 100%;
  display: grid;
  @media (max-width: 1024px) {
    padding: var(--vp-sm);
  }
  & > * {
    min-height: 25vh;
    overflow: hidden;
    border-bottom: .5px solid var(--grey-10);
    @media (max-width: 1024px) {
      padding-bottom: var(--vp-sm);
      min-height: 30vh;
    }
  }
}

.cartSummary {
  width: 100%;
  display: flex;
  @media (max-width: 1024px) {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.summaryDetails {
  background-color: var(--grey-10);
  width: 50%;
  padding: var(--vp-md);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  & > * {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1024px) {
      &:not(:last-child) {
        margin-bottom: var(--vp-sm);
      }
    } 
  }
  @media (max-width: 1024px) {
    width: 100%;
    padding-bottom: 0;
  }
}

.grandTotal {
  font-size: var(--text-2xl);
  font-weight: var(--semibold);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkoutButtonWrapper {
  background-color: var(--grey-10);
  width: 50%;
  min-height: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  @media (max-width: 1024px) {
    width: 100%;
    padding: var(--vp-md);
    // justify-content: space-between;
    justify-content: flex-start;
  }
}

.checkoutButton {
  background: var(--text-color);
  width: 60%;
  height: var(--size-input);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-inverted);
  font-size: var(--text-md);
  font-weight: var(--semibold);
  line-height: var(--solid);
  letter-spacing: var(--even);
  text-transform: lowercase;
  transition: var(--transition);
  @media (max-width: 1024px) {
    width: 100%;
    margin-top: var(--vp-sm);
  }
}

.checkoutButton:hover {
  box-shadow: var(--shadow);
}