.instaContainer {
  position: relative;
  display: grid;
  gap: var(--space-xs);
  grid-template-columns: var(--product-grid);
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.instaPost {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  @media (max-width: 1024px) {
    // margin: 0 var(--vp-md);
  }
}

.loadMoreButton {
  display: flex;  
  align-items: center;
  justify-content: center;
  button {
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  color: var(--primary);
  font-size: var(--text-xl);
}

.instaModal {
  z-index: var(--level-three);
  position: fixed;
  height: 100vh;
  width: 67.1vw;
  top: 0;
  left: 19vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-right: 2px solid var(--grey-10);
  border-left: 2px solid var(--grey-10);
  opacity: 0;
  transform: translateY(20vh);
}

.postImage {
  position: relative;
  width: 65%;
  height: 100%;
  div,
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.detailsSection {
  position: relative;
  width: 35%;
  height: 100%;
  padding: var(--size-gutter-raw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .closeButton {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--space-xl);
    svg {
      height: 30px;
      width: 30px;
    }
    path {
      stroke: var(--black-fade-20);
    }
    &:hover {
      path {
        stroke: var(--text-color);
      }
    }
  }
}

.product {
  .productImage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 20vh;
    div{
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .productDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    & > * {
      padding-bottom: var(--space-lg);
    }
    .itemName {
      font-size: var(--text-2xl);
      letter-spacing: var(--even);
    }
    .variantName {
      letter-spacing: var(--even);
      text-transform: lowercase;
    }
    .price {
      color: var(--grey-40);
      font-weight: var(--light);
      padding-top: var(--space-md);
      font-size: var(--text-xl);
    }
  }
  .addToCart {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      transform: scale(.8)
    }
  }
}

.postContent {
  p {
    font-size: var(--text-lg);
    letter-spacing: var(--tracked);
    text-align: center;
    font-style: italic;
  }
}

.postMeta {
  width: 110%;
  display: flex;
  justify-content: center;
  font-weight: var(--bold);
  span {
    &:not(:last-child) {
      margin-right: var(--space-md);
    }
  }
  opacity: 1;
  .postUser {
    &:hover {
      color: var(--primary);
    }
  }

  .postTime {
    opacity: 1;
  }
}

.shareIcons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  svg {
    height: 25px;
    width: 25px;
  }
  path {
    fill: var(--text-color);
    // stroke: var(--text-color);
  }
}

.modalShade {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background-color: var(--black-fade-80);
  overflow: visible;
}

.mobileInstaModal {
  z-index: 9999999999999;
  opacity: 0;
  transform: translate3d(0, 10vh, 0);
  position: fixed;
  top: 0;
  left: 0;
  height: calc(95vh - var(--space-md));
  height: calc(100 * var(--mVh));
  width: calc(100% - (var(--space-xl) * 2) );;
  width: 100vw;
  padding-bottom: var(--vp-lg);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow: scroll;
  .mImageSection {
    width: 100vw;
    height: 100vw;
    background-color: transparent;
    .mCloseButton {
      position: absolute;
      top: 0;
      right: 0;
      z-index: var(--level-two);
      padding: var(--space-lg);
      mix-blend-mode: difference;
      path {
        stroke: var(--grey-10);
      }
    }
    .mPostImage {
      position: relative;
      height: 100%;
      width: 100%;
      div,
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

    }
  }
  .mProductSection {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .mProductImage {
      width: 50%;
      display: flex;
      align-items: center;  
      justify-content: center;
      div {
        width: 90%;
      }
    }
    .mProductDetails {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .mName {
        font-size: var(--text-lg);
        font-weight: var(--bold);
      }
      .mPrice {
        color: var(--grey-40);
      }
    }
  }
  .mAddToCart {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    button {
      align-self: flex-start !important;
      margin: 0;
      width: 70%;
      transform: scale(.8) translateY(calc(-1 * var(--space-lg)));
      transform: scale(.8);
    }
  }
  .mPostCaption {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    p {
      width: 80%;
      text-align: center;
      font-style: italic;
    }
  }
  .mPostMeta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--bold);
    span {
      &:not(:last-child) {
        margin-right: var(--space-md);
      }
    }
    opacity: 1;
    .postUser {
      &:hover,
      &:active,
      &:focus {
        color: var(--primary);
      }
    }
  }
  .mShareSection {
    width: 100%;
    padding: var(--space-3xl);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}